<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

   
    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    
    <!-- CSS import -->
    <link rel="stylesheet" href="/css/clientInfo.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
    
    <title>아트인포 | 회원가입</title>
</head>
<body>
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/music/preview">음악</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>                
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/admin"><i class="fa-solid fa-gear"></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <a href="/clientInfo"><i class="fa-solid fa-gear"></i></a>
                        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    
    
        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login">
                    <a href="/clientInfo"><i class="fa-solid fa-gear"></i></a>
                </div>
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
            <% if( login != null ) { %>
                <div class="logout">
                    <a href="/logout">로그아웃</a>
                </div>
            <% } else { %>
                <div class="logout">
                    <a href="/login">로그인</a>
                </div>
            <% } %>
        </div> 
    </header>
    
    <section class="section" id="section">
        <div class="title">고객 정보</div>
        <article class="article" id="article">
            <div  id="content">
                <table>
                    <tbody>
                        <tr></tr>
                        <tr>
                            <td>성명</td>
                            <td><%= data[0].NAME %></td>
                            <td><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>아이디</td>
                            <td id="idValue"><%= data[0].ID %></td>
                            <td><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>성별</td>
                            <% if(data[0].GENDER === "man") { %>
                                <td>남자</td>
                            <% } else if(data[0].GENDER === "woman") { %> 
                                <td>여자</td>
                            <% } else { %> 
                                <td>선택 안함</td>       
                            <% } %>
                            <td><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td ><input id="pwd" type="password"></td>
                            <td id="checkPassword"></td>
                        </tr>
                        <tr>
                            <td>비밀번호 <br class="br">재확인</td>
                            <td><input id="pwd2" type="password"></td>
                            <td id="checkPwd"></td>
                        </tr>                                             
                        <tr>
                            <td>생년월일</td>
                            <td><input type="text" id="birth" value=<%= data[0].BIRTH %>></td>
                            <td id="checkBirth"><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td><input type="text" id="email" value=<%= data[0].EMAIL %>></td>
                            <td id="checkEmail"><i class="fa-solid fa-check"></i></td>
                        </tr>  
                        <tr></tr>
                    </tbody>
                </table>
            </div> 
            <div class="buttonBack">
                <button disabled id="update">수정</button>
                <a href="/"><button id="cancel">취소</button></a>
            </div>               
        </article>   
    </section>
    
    <footer id="footer">   
        <div class="ad_fit1">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-PgHV76O2ZNxrnKWW" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>     
        <div class="footerText">문의 : chorales@naver.com</div>       
        <div class="ad_fit2">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-27ykCGeamZlU7nSD" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>
    </footer>
    <div align="center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8515708471646582"
        crossorigin="anonymous"></script>
        <!-- 구글 하단 광고 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8515708471646582"
            data-ad-slot="1352329679"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> 

    <!-- JS import -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script type="text/javascript" src="/js/clientInfo.js"></script>
</body>
</html>