<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- AdSense 태그 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8515708471646582"
    crossorigin="anonymous"></script>

    <!-- 네이버 웹마스터 태그-->    
    <meta name="naver-site-verification" content="f40177a0b22957c1976295abef657fd8c8dce9e6" />
    <meta property="og:title" content="아트인포">
    <meta name="description" content="예술관련 연주, 채용 등 다양한 정보 제공">
    <meta property="og:description" content="예술관련 연주, 채용 등 다양한 정보 제공">
    <link rel="canonical" href="https://artinfokorea.com/">

    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

    <!-- CSS import -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">

    
    <title>아트인포</title>
</head>
<body>

    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/music/preview">음악</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>                
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/admin"><i class="fa-solid fa-gear"></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <a href="/clientInfo"><i class="fa-solid fa-gear"></i></a>
                        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    

        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <% if( login === "admin" ) { %>
                    <nav>
                        <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                    </nav>
                    <div class="logo">
                        <a href="/">ARTINFO</a>
                    </div>
                    <div class="login">
                        <a href="/admin"><i class="fa-solid fa-gear"></i></a>
                        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    </div>
                <% } else { %>
                    <nav>
                        <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                    </nav>
                    <div class="logo">
                        <a href="/">ARTINFO</a>
                    </div>
                    <div class="login">
                        <a href="/clientInfo"><i class="fa-solid fa-gear"></i></a>
                    </div>
                <% } %>                  
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/music/preview">음악</a>
            <a href="/recruit_art/all">채용정보</a>
            <% if( login != null ) { %>
                <div class="logout">
                    <a href="/logout">로그아웃</a>
                </div>
            <% } else { %>
                <div class="logout">
                    <a href="/login">로그인</a>
                </div>
            <% } %>
        </div> 
    </header>

    <section class="section" id="section">
        <div class="banner">
            <div class="banner_text_back">
                <div class="banner_text1">예술의 중심</div>
                <div class="banner_text2">
                    <p>A</p><p>R</p><p>T</p><p>I</p><p>N</p><p>F</p><p>O</p>
                </div>
            </div>                            
        </div>
        <article class="articlePoster" id="article">            
            <div class="left" id="left"></div>
            <div class="center" id="center"></div>
            <div class="right" id="right"></div>
        </article>
        <article class="articleBoard" id="article">
            <div class="boardLeft">
                <table>
                    <thead>
                        <tr>
                            <td>&nbsp&nbsp채용정보(예술단체)</td>
                            <td><a href="/recruit_art/all">더보기<i class="fa-solid fa-caret-right"></i>&nbsp&nbsp</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let list of arrayData.leftData) {%>
                            <tr>                            
                                <td ><a href=<%= list.URL %> target="_black">&nbsp&nbsp<%= list.TITLE %></a></td>
                                <td ><%= list.DATE %>&nbsp&nbsp</td>
                            </tr>  
                        <% } %>                       
                    </tbody>
                </table>
            </div>
            <div class="boardRight">
                <table>
                    <thead>
                        <tr>
                            <td>&nbsp&nbsp채용정보(종교)</td>
                            <td><a href="/recruit_religion/all">더보기<i class="fa-solid fa-caret-right"></i>&nbsp&nbsp</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="notice">
                            <td>종교 음악관련 구인구직 게시판 입니다 * 가입 후 자유롭게 이용해주세요.</td>                            
                            <td>2022-05-09</td>
                        </tr>
                        <% for(let list of arrayData.rightData) {%>
                            <tr>                            
                                <td ><a href=/recruit_religion/content?id=<%= list.ID%>>&nbsp&nbsp<%= list.TITLE %></a></td>
                                <td ><%= list.DATE %>&nbsp&nbsp</td>
                            </tr>  
                        <% } %>                       
                    </tbody>
                </table>
            </div>
        </article>
    </section>
    
    <footer id="footer">    
        <div class="footerText">문의 : chorales@naver.com</div>       
    </footer>
    <div align="center">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8515708471646582"
        crossorigin="anonymous"></script>
        <!-- 구글 하단 광고 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8515708471646582"
            data-ad-slot="1352329679"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> 
    
    <!-- JS import -->
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>