<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

    <!-- CSS import -->
    <link rel="stylesheet" href="/css/recruit_art.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="#">

    <title>ARTINFO</title>
</head>
<body>
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/"><i class="fa-solid fa-house-user"></i></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <div class="bar">&nbsp&nbsp&nbsp | &nbsp&nbsp</div>
                        <a class="logout" href="/logout">logout</a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    
    
        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
        </div> 
    </header>

    <section class="section" id="section">
        <div class="title">
            <a href="/recruit_art/all" class="art" id="art">예술단체</a>
            <a href="/recruit_religion/all" class="religion" id="religion">종교</a>
        </div>
        <article class="article">
            <div class="top">
                <ul>
                    <li>
                        <form action="/recruit_art/all">
                            <button id="typeAll" class="type">전체</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_art/orchestra">
                            <button id="typeOrchestra" class="type">교향악단</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_art/choir">
                            <button id="typeChoir" class="type">합창</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_art/administration">
                            <button id="typeAdministration" class="type">행정</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_art/etc">
                            <button id="typeEtc" class="type">기타</button>
                        </form>
                    </li>
                </ul>
                <!-- <form action="/recruit_art/search" class="search" method="get">
                    <div class="bottom_line">
                        <input type="text" name="name" placeholder="검색어를 입력해주세요."/>
                        <button class="fa-solid fa-magnifying-glass"></button>
                    </div>
                </form> -->
            </div>

            <div class="board" id="board">
                <table> 
                    <thead>
                        <tr>
                            <td>번호</td>
                            <td>단체명</td>
                            <td>제목</td>
                            <td>게시일</td>
                        </tr>
                    </thead> 
                    <tbody>
                        <% for( const list of arrayData.data ) { %>
                            <tr>
                                <td ><%= list.ID %></td>
                                <td ><%= list.CNAME %></td>                                
                                <td ><a href=<%= list.URL %>><%= list.TITLE %></a></td>
                                <td ><%= list.DATE %></td>
                            </tr>                               
                        <% } %>    
                    </tbody>
                </table>    
            </div>
            <div class="paging">
                <div class="ctrlBack">
                    <a href="/recruit_art/orchestra" id="leftStart" class="leftStart">
                        <i class="arrow fa-solid fa-angles-left"></i>
                    </a>

                    <a href="" id="left" class="right">
                        <i class="arrow fa-solid fa-angle-left"></i>
                    </a>
                
                    <div class="pageNum" id="pageNum">
                        <% for( let i = arrayData.viewStartNumber ; i <= arrayData.viewEndNumber ; i++ ) { %>
                            <form action="" id=<%= arrayData.endNum %>>
                                <input type="hidden" name="id" value=<%= i %>>
                                <button id="pageButton<%= i%>" class="pageButton"><%= i %></button>
                            </form>                            
                        <% } %>
                    </div>

                    <a href="" id="right" class="right">
                        <i class="arrow fa-solid fa-angle-right"></i>
                    </a>
                             
                    <a href="/recruit_art/orchestra?id=<%= arrayData.endNum %>"  id="rightEnd" class="rightEnd" >
                        <i class="arrow fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        </article>
    </section>

    <footer id="footer">
        <div>문의 : chorales@naver.com</div>
    </footer>

     <!-- JS import -->
     <script type="text/javascript" src="/js/recruit_art.js"></script>
</body>
</html>