<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>
   
    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    
    <!-- CSS import -->
    <link rel="stylesheet" href="/css/recruit_religion_content.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="#">

    <title>아트인포 | 채용정보</title>
</head>
<body>    
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/"><i class="fa-solid fa-house-user"></i></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <div class="bar">&nbsp&nbsp&nbsp | &nbsp&nbsp</div>
                        <a class="logout" href="/logout">logout</a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    
    
        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
        </div> 
    </header>
    <section class="section" id="section">
        <div class="title"><a href="/recruit_religion/all">종교</a></div>
        <article class="article">
            <div class="subtitle">
                <h2><%= data[0].TITLE %></h2>
            </div>
            <div class="mobileType">
                <table>
                    <tbody>
                        <tr>
                            <td>단<br/>체<br/>명</td>
                            <td colspan="3"><%= data[0].NAME %></td>
                            <td>글<br/>쓴<br/>이</td>
                            <td><%= data[0].WRITER %></td>
                        </tr>
                        <tr>
                            <td>분<br/>류</td>
                            <td><%= data[0].TYPE %></td>
                            <td>분<br/>야</td>
                            <td><%= data[0].EXPERTTYPE %></td>
                            <td>급<br/>여</td>
                            <td><%= data[0].SALARY %></td>
                        </tr>
                        <tr>
                            <td>이<br/>메<br/>일</td>
                            <td colspan="3"><%= data[0].EMAIL %></td>
                            <td>연<br/>락<br/>처</td>
                            <td><%= data[0].PNUMBER %></td>
                        </tr>
                        <tr>
                            <td>주<br/>소</td>
                            <td colspan="5"><%= data[0].ADDRESS %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="type">
                <table>
                    <tbody>
                        <tr>
                            <td>분야</td>
                            <td><%= data[0].EXPERTTYPE %></td>
                            <td>단체명</td>
                            <td><%= data[0].NAME %></td>
                            <td>글쓴이</td>
                            <td><%= data[0].WRITER %></td>
                        </tr>
                        <tr>
                            <td>분류</td>
                            <td><%= data[0].TYPE %></td>
                            <td>이메일</td>
                            <td><%= data[0].EMAIL %></td>
                            <td>연락처</td>
                            <td><%= data[0].PNUMBER %></td>
                        </tr>
                        <tr>
                            <td>급여</td>
                            <td><%= data[0].SALARY %> 원</td>
                            <td>주소</td>
                            <td colspan='3'><%= data[0].ADDRESS %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">                
                <textarea id="textarea" readonly><%= content %></textarea>
            </div>
            <div class="ctrlButton">
                <% if( login == data[0].WRITER ) { %>
                    <form action="/recruit_religion/update" onSubmit="return confirm('게시글을 수정하시겠습니까?')">
                        <input type="hidden" name="id" value=<%= data[0].ID %>>
                        <Button id="updateContent">수정</Button>
                    </form>                    
                    <Button id="deleteContent">삭제</Button>
                    <Button id="getList">목록</Button>              
                <% } else { %>
                    <Button id="getList">목록</Button>
                <% } %>                
            </div>
        </article>
    </section>
    
    <footer id="footer">   
        <div class="ad_fit1">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-PgHV76O2ZNxrnKWW" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>     
        <div class="footerText">문의 : chorales@naver.com</div>       
        <div class="ad_fit2">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-27ykCGeamZlU7nSD" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>
    </footer>

    <!-- JS import -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script type="text/javascript" src="/js/recruit_religion_content.js"></script>
</body>
</html>