<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9J2RH0SRC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9J2RH0SRC');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 이모티콘  CDN -->
    <script src="https://kit.fontawesome.com/6dca3e9c71.js" crossorigin="anonymous"></script>

    <!-- 폰트 설정 CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">

    <!-- CSS import -->
    <link rel="stylesheet" href="/css/recruit_religion.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Palette+Mosaic&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
    
    <!-- JS import -->
    <script type="text/javascript" src="/js/recruit_religion.js"></script>

    <title>아트인포 | 채용정보</title>
</head>
<body onload="outputScreen()">
    <header id="header">
        <div class="desktopHeader">
            <div class="logo">
                <a href="/">ARTINFO</a>
            </div>
            <nav>
                <li><a href="/about">소개</a></li>
                <li><a href="/recruit_art/all">채용정보</a></li>
            </nav>
            <div id="login" class="login">
                <% if( login != null ) { %>
                    <% if( login === "admin" ) { %>
                        <div class="name"><%= login %>&nbsp</div>
                        <a href="/"><i class="fa-solid fa-house-user"></i></i></a>
                        <a class="logout" href="/logout">logout</a>
                    <% } else { %>
                        <div class="name"><%= login %></div>
                        <a href="/clientInfo"><i class="fa-solid fa-gear"></i></a>
                        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <% } %>    
                <% } else { %>
                    <a class="loginText" href="/login">로그인</a>
                <% } %>
            </div>
        </div>    
    
        <div class="mobileHeader">     
            <% if( login != null ) { %>  
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login">
                    <a href="/clientInfo"><i class="fa-solid fa-gear"></i></a>
                </div>
            <% } else { %> 
                <nav>
                    <i class="fa-solid fa-bars" onclick="clickMenu()"></i>
                </nav>
                <div class="logo">
                    <a href="/">ARTINFO</a>
                </div>
                <div class="login"><a href="/login"><i class="fa-regular fa-user"></i></a></div>
            <% } %>            
        </div>
        <div id="mobileMenu" class="mobileMenu"> 
            <a href="/">Home</a>
            <a href="/about">소개</a>
            <a href="/recruit_art/all">채용정보</a>
            <% if( login != null ) { %>
                <div class="logout">
                    <a href="/logout">로그아웃</a>
                </div>
            <% } else { %>
                <div class="logout">
                    <a href="/login">로그인</a>
                </div>
            <% } %>
        </div> 
    </header>

    <section class="section" id="section">
        <div class="title">
            <a href="/recruit_art/all" class="art" id="art">예술단체</a>
            <a href="/recruit_religion/all" class="religion" id="religion">종교</a>
        </div>
        <article class="article">
            <div class="top">
                <ul>
                    <li>
                        <form action="/recruit_religion/all">
                            <button id="typeAll" class="type">전체</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_religion/conductor">
                            <button id="typeConductor" class="type">지휘자</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_religion/solists">
                            <button id="typeSolists" class="type">솔리스트</button>
                        </form>
                    </li>
                    <li>
                        <form action="/recruit_religion/accompanist">
                            <button id="typeAccompanist" class="type">반주자</button>
                        </form>
                    </li>
                </ul>
                    <% if( login != null ) { %>
                        <form action="/recruit_religion/write" class="write" method="get">
                            <button class="writeButton">글쓰기</button>
                        </form>
                    <% } else { %>
                        <form action="/login" class="write" method="get">
                            <button class="writeButton">글쓰기</button>
                        </form>
                    <% } %>                
            </div>
            <div class="board" id="board">
                <table> 
                    <thead>
                        <tr>
                            <td>번호</td>
                            <td>분류</td>
                            <td>단체명</td>
                            <td>분야</td>                            
                            <td>제목</td>
                            <td>글쓴이</td>
                            <td>게시일</td>
                        </tr>
                    </thead> 
                    <tbody> 
                        <tr class="notice">
                            <td>-</td>
                            <td>공지</td>
                            <td>아트인포</td>
                            <td></td>
                            <td>종교 음악관련 구인구직 게시판 입니다 * 가입 후 자유롭게 이용해주세요.</td>
                            <td>artinfo</td>
                            <td>2022-05-09</td>
                        </tr>
                        <% for( const list of arrayData.data ) { %>
                            <tr>
                                <td ><%= list.ID %></td>
                                <td ><%= list.TYPE %></td> 
                                <td ><%= list.NAME %></td> 
                                <td ><%= list.EXPERTTYPE %></td>                                
                                <td ><a href="/recruit_religion/content?id=<%= list.ID %>"><%= list.TITLE %></a></td>
                                <td ><%= list.WRITER %></td> 
                                <td ><%= list.DATE %></td>
                            </tr>                         
                        <% } %>
                    </tbody>
                </table>    
            </div>
            <div class="paging">
                <div class="ctrlBack">
                    <a href="/recruit_religion/conductor" id="leftStart" class="leftStart">
                        <i class="arrow fa-solid fa-angles-left"></i>
                    </a>

                    <a href="" id="left" class="right">
                        <i class="arrow fa-solid fa-angle-left"></i>
                    </a>
                
                    <div class="pageNum" id="pageNum">
                        <% for( let i = arrayData.viewStartNumber ; i <= arrayData.viewEndNumber ; i++ ) { %>
                            <form action="" id=<%= arrayData.endNum %>>
                                <input type="hidden" name="id" value=<%= i %>>
                                <button id="pageButton<%= i%>" class="pageButton"><%= i %></button>
                            </form>                            
                        <% } %>
                    </div>

                    <a href="" id="right" class="right">
                        <i class="arrow fa-solid fa-angle-right"></i>
                    </a>
                             
                    <% if(arrayData.endNum === 0) { %>
                        <a href=""  id="rightEnd" class="rightEnd" >
                            <i class="arrow fa-solid fa-angles-right"></i>
                        </a>
                    <% } else { %>
                        <a href="/recruit_religion/conductor?id=<%= arrayData.endNum %>"  id="rightEnd" class="rightEnd" >
                            <i class="arrow fa-solid fa-angles-right"></i>
                        </a>
                    <% } %> 
                </div>
            </div>
        </article>
    </section>

    <footer id="footer">   
        <div class="ad_fit1">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-PgHV76O2ZNxrnKWW" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>     
        <div class="footerText">문의 : chorales@naver.com</div>       
        <div class="ad_fit2">
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-27ykCGeamZlU7nSD" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        </div>
    </footer>

    <!-- JS import -->
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</body>
</html>